<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script>

  (function() {
    'use strict'

    angular
    .module('myApp', [])
    .controller('MainController', MainController)

    MainController.$inject = ['$http']

    function MainController ($http) {
      // Initialization
      var vm = this

      // Variables
      vm.baseURL = 'https://api.foursquare.com/v2/'
      vm.CLIENT_ID = '4J5SDI15NYMIYAWN3GRFVGDVRYHWVZH54WW5VUFQDS5EUOWU'
      vm.CLIENT_SECRET = 'JLLRJIGNPYJ0S0OPZ2DPKAZ30JYC5XOZF4LILGIVETCPNA4B'
      vm.venues = []
      vm.images = []

      // Functions
      vm.findVenues = findVenues
      vm.getPhotos = getPhotos

      // Implementation
      function findVenues (searchTerm) {
        var URL = vm.baseURL + 'venues/search?client_id=' + vm.CLIENT_ID + '&client_secret=' + vm.CLIENT_SECRET + '&v=20130815&near=los_angeles,ca&venuePhotos=1&query=' + searchTerm
        $http({
          method: 'GET',
          url: URL
        }).then(function successCallback(response) {
          vm.venues = response.data.response.venues
          vm.searchTerm = ''
        }, function errorCallback(response) {
          console.log('error')
        })
      }

      function getPhotos (venueId) {
        var URL = vm.baseURL + 'venues/' + venueId + '/photos?client_id=' + vm.CLIENT_ID + '&client_secret=' + vm.CLIENT_SECRET + '&v=20130815&limit=15'
        $http({
          method: 'GET',
          url: URL
        }).then(function successCallback(response) {
          var photos = response.data.response.photos.items
          if (photos.length) {
            vm.images = photos.map(function(photo) {
              return photo.prefix + '400x300' + photo.suffix
            })
          } else {
            console.log('No Photos Found')
          }
        }, function errorCallback(response) {
          console.log('Error: ' + response)
        })
      }
    }
  })()

  </script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style media="screen" type="text/css">

    a.list-group-item {
      color: black;
    }

    body {
      padding-top: 39px;
      overflow: hidden;
    }

    .btn {
      color:black;
    }

    .col-lg-3 {
      padding-top: 15px;
      padding-right: 0px;
    }

    .tab-pane {
      height:99%;
      overflow-y:scroll;
      width:100%;
      position:absolute;
    }

    .title {
      padding-left: 18px;
    }

    .venue-title {
      color: #337ab7;
    }

    .welcome-message {
      background-color: #990000;
      color: white;
      text-align: center;
    }

  </style>
</head>

<body ng-app="myApp">
  <div ng-controller="MainController as vm">
    
    <!-- Nav Bar -->
    <nav class="bg-primary navbar-fixed-top">
      <form class="navbar-form form-inline">
        <input class="form-control" ng-model="searchTerm" type="text" placeholder="ex: sushi, bakery">
        <button ng-click="vm.findVenues(searchTerm)" class="btn btn-info-outline" type="submit">Search</button>
      </form>
    </nav>

    <!-- Welcome Message -->
    <h3 href="#" class="welcome-message venue-item list-group-item" ng-if="(vm.venues.length === 0)">Explore Los Angeles through photos with the FourSquare API</h3>
    
      <!-- List of Venues -->
      <div class="container-fluid">
        <div class="row tab-pane"> 
          <ol class="list-group col-lg-3 col-md-4 col-xs-6">
            <li>
              <a href="#" class="list-group-item" ng-click="vm.getPhotos(venue.id)" type="text" ng-repeat="venue in vm.venues | limitTo:10">
                <address>
                  <strong class="venue-title">{{ venue.name }}</strong>
                  <br>
                  {{ venue.location.address }}
                  <br>
                  {{ venue.location.city }}, {{ venue.location.state }} {{ venue.location.postalCode }}
                  <br>
                  {{ venue.contact.formattedPhone }}
                </address>
              </a>
            </li>
          </ol>

        <!-- Image Gallery -->
        <div class="container-fluid">
          <div class="row">
            <div ng-repeat="image in vm.images" class="col-lg-3 col-md-4 col-xs-6">
              <img class="img-responsive" ng-src="{{ image }}" />
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div>
</body>
</html>
